<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Responsive Shopping App">
    <meta name="author" content="Sumen Tse">

    <title>Shopping App</title>

    <!-- Bootstrap core CSS -->
    <link href="assets/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->

	<style>
	body {
	  padding-top: 50px;
	}

	/*This was needed because the nav links will not appear when exceed 768px
	I think there's a better way to do this*/
	@media screen and (min-width: 768px) {
	    .collapse{
	        display: block !important;
	    }
	}
	</style>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body ng-app="shopApp" ng-controller="masterCtrl">

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" ng-click="toggleCollapse()">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="navbar" class="nav-collapse navbar-responsive-collapse" collapse="isCollapsed">
          <ul class="nav navbar-nav">
            <li ng-click="toggleCollapse()"><a href="#Shop">Shop</a></li>
            <li ng-click="toggleCollapse()"><a href="#Cart">Cart</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">
    	<h1 ng-bind="currentTab"></h1>

    	<div ui-view></div>
	</div>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

   	<script src="lib/angular.min.js"></script>
   	<script src="services/angular-ui-router.min.js"></script>
   	<script src="services/ui-bootstrap-tpls-0.13.0.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    
  	<script>
angular.module("shopApp",["ui.bootstrap", "ui.router"])
	.config(function($stateProvider, $urlRouterProvider){
		//this is setting up the configuration for the application upon launch

		//any unmatch url will go to the trends tab
		$urlRouterProvider.otherwise("/shop");

		//routing the tabs to the correct view
		$stateProvider
			.state("Shop",{
				url:"/Shop",
				templateUrl:"views/shop.html",
				controller:"shopCtrl"
			})
			.state("Cart",{
				url:"/Cart",
				templateUrl:"views/cart.html",
				controller:"cartCtrl"
			})
			

	})
	.controller("masterCtrl", function($scope, $state){
		//this controller will control the state of the navigation when a user clicks on the links in the nav bar
		$scope.isCollapsed = true;
		$scope.currentTab = "Shop";

		//toggles the collapsing menu only on mobile
		$scope.toggleCollapse = function(){
			$scope.isCollapsed = !$scope.isCollapsed;
		}

		
	})
	.controller("shopCtrl", function($scope){

	})
	.controller("cartCtrl", function($scope){

	})
  	</script>

</body>
	</html>