<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Responsive Shopping App">
    <meta name="author" content="Sumen Tse">
    <title>Shopping App</title>

    <!-- Bootstrap core CSS -->
    <link href="assets/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->

	<style>
	body {
	  padding-top: 50px;
	}

  .item-name{
    font-size: 1.3em;
  }

  .image-container{
    width: 90%;
  }

	/*This was needed because the nav links will not appear when exceed 768px
	I think there's a better way to do this*/
	@media screen and (min-width: 768px) {
	    .collapse{
	        display: block !important;
	    }
	}
	</style>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body ng-app="shopApp" ng-controller="masterCtrl" ng-cloak>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" ng-click="toggleCollapse()">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="navbar" class="nav-collapse navbar-responsive-collapse" collapse="isCollapsed">
          <ul class="nav navbar-nav">
            <li ng-click="toggleCollapse()"><a href="#Shop">Shop</a></li>
            <li ng-click="toggleCollapse()"><a href="#Cart">Cart</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">
    	<div ui-view></div>
  	</div>

    


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

   	<script src="lib/angular.min.js"></script>
   	<script src="services/angular-ui-router.min.js"></script>
   	<script src="services/ui-bootstrap-tpls-0.13.0.min.js"></script>
    <script src="services/ngStorage.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="assets/js/ie10-viewport-bug-workaround.js"></script>
    
  	<script>
angular.module("shopApp",["ui.bootstrap", "ui.router", "ngStorage"])
  .run(function(Product){
    Product.add();
  })
	.config(function($stateProvider, $urlRouterProvider){
		//this is setting up the configuration for the application upon launch

		//any unmatch url will go to the trends tab
		$urlRouterProvider.otherwise("/Shop");

		//routing the tabs to the correct view
		$stateProvider
			.state("Shop",{
				url:"/Shop",
				templateUrl:"views/shop.html",
				controller:"shopCtrl"
			})
      .state("Product",{
        url:"/Product/:ID",
        templateUrl:"views/product.html",
        controller: function($state, $stateParams, $scope, Product, Cart){
          
          var checkProduct = Product.search($stateParams.ID); //should be run once for optimizing
          $scope.itemQuantity = 1; //this is the default for item quantity 
          $scope.product = []

          //Checks if the product exist and if it doesn't go back to the Shop state otherwise show the product. I was thinking what if the product doesn't exist anymore
          if( angular.isUndefined( checkProduct ) ){
            
            $state.go("Shop");

          }else{
            
            $scope.product = checkProduct;
          
          }

          //adding the item into the cart
          $scope.addItem = function(){
            
            Cart.add({"ID":$scope.product.ID, "Product_Name":$scope.product.Product_Name,"Price":$scope.product.Price, "Qty":$scope.itemQuantity});

            $state.go("Shop"); //go back to Shop state after product is added
          }
        }
      })
			.state("Cart",{
				url:"/Cart",
				templateUrl:"views/cart.html",
				controller:"cartCtrl"
			})
			

	})
	.controller("masterCtrl", function($scope, $state, $rootScope){
		//this controller will control the state of the navigation when a user clicks on the links in the nav bar. I'm using scope inheritance
		$scope.isCollapsed = true;


		//toggles the collapsing menu only on mobile
		$scope.toggleCollapse = function(){
			$scope.isCollapsed = !$scope.isCollapsed;
      //will need to fix an issue with the opening and closing of the collapse bar
		}

    
  })
  .controller("shopCtrl", function($scope, $state, Product, Cart){
    var chunkDataSize = 3;
    $scope.chunkData = []


    $scope.init = function(){
      $scope.chunkData = Product.getChunk(chunkDataSize);
    }

    $scope.showProduct = function(ID){

      $state.go("Product", {"ID":ID});
      
    }

    $scope.init();
    
	})
	.controller("cartCtrl", function($scope, Cart){
    
    var filter_gratuity = null;

    $scope.products = Cart.get(); //get the items store in session storage
    $scope.tax = 0.08;
    $scope.subTotal = Cart.getSubTotal();
    $scope.subTotalTax = $scope.subTotal + ($scope.subTotal * $scope.tax);
    $scope.gratuity = "20.00";
    $scope.finalTotal = $scope.subTotalTax + $scope.gratuity;


    //checks if type is float with fixed decimal of two
    $scope.$watch("gratuity", function(newValue, oldValue){
      filter_gratuity = parseFloat(parseFloat(newValue).toFixed(2));
  
      if( !isNaN(filter_gratuity) ){
        $scope.finalTotal = $scope.subTotalTax + filter_gratuity;
      }else{
        $scope.finalTotal = $scope.subTotalTax + 0;
      }
      
    })

    //summarizing the cart basket
    $scope.summarizeCart = function(){

      $scope.subTotal = Cart.getSubTotal();
      $scope.subTotalTax = $scope.subTotal + ($scope.subTotal * $scope.tax);
      
      //fixes a bug where if user enter letters then delete item it will not update the final total
      //will fix on watcher to make it automatically replace letters to empty string
      if(isNaN(parseInt($scope.gratuity))){
        $scope.finalTotal = $scope.subTotalTax;
      }else{
        $scope.finalTotal = $scope.subTotalTax + parseInt($scope.gratuity);
      }
    }

    //removing an item off a cart
    $scope.removeItem = function(ID){
      Cart.remove(ID);
      $scope.summarizeCart();
    }

    //updating the quantity of items
    $scope.updateQty = function(ID, qty){
      $scope.summarizeCart();
    }
	})
  .filter('range', function() {
    //this is use to do the item quantity based on what range you want to give it
    //will be use for ng-options
    return function(input, total) {
      total = parseInt(total);
      for (var i=1; i<total; i++)
        input.push({"value":i});
      return input;
    };
  })
  .factory("Product", function($http){
    //use to getting the product data
    var products = [];
    return {
      add:function(){
        $http.get("models/data.json").then(function(response){
          products = response.data;
        }, function(response){
          alert("fail to get data");
        });
      },
      search:function(ID){
        //return if there's no data and id parameter is not an interger
        var ID = parseInt(ID);
        if(products.length === 0){
          return;
        }else{
          for(var i = 0, dataLen = products.length; i < dataLen; i++){
            if(products[i].ID === ID){
              return products[i]; //will return the object if a match is found
            }
          }
        }
      },
      get:function(){
        return products;
      },
      getChunk:function(size){
        //this function will break down the product array into chunks
        return this.chunk(products, size);
      },
      chunk: function(arr, size){
        var newArr = [];
        for(var i = 0, arrLen = arr.length; i < arrLen; i+=size){
          newArr.push(arr.slice(i, i+size)); //getting only a chunk of the data
        }
        return newArr;
      }
    }
  })
  .factory("Cart", function($sessionStorage){
    //this will remember the data that will be save on the cart using the CRUD method for an user session
  

    //check if key exist in the session storage 
    if( !$sessionStorage.hasOwnProperty("cartBasket") ){
      $sessionStorage.cartBasket = [];   
    }
    
    return {
      add:function(item){
        
        var addedToExistingItem = false;
        
        if(angular.isObject(item))
        {
          //will check the cart if item exist and will adjust the quantity of items
          for(var i=0, onCart = $sessionStorage.cartBasket.length; i < onCart; i++)
          {

            if($sessionStorage.cartBasket[i].ID === item.ID){
              $sessionStorage.cartBasket[i].Qty += item.Qty;
              addedToExistingItem = true;
              break;
            }
          }
          //if the item doesn't exist then add to cartBasket
          if(!addedToExistingItem){
            $sessionStorage.cartBasket.push(item);
            
          }
          
        }else{
          return; //if item is not an object then return 
        }

      },
      remove:function(ID){
        //find the item based on ID then delete it off the basket
        for(var i=0, onCart = $sessionStorage.cartBasket.length; i < onCart; i++){
          if($sessionStorage.cartBasket[i].ID === ID ){
            $sessionStorage.cartBasket.splice(i, 1);
            break;
          }
        }
      },
      update:function(ID, Qty){

      },
      get:function(){
        return $sessionStorage.cartBasket;
      },
      getSubTotal:function(){
        //this function will sum up the subtotal in the cart
        var total = 0;
        //checking if cart is empty
        if($sessionStorage.cartBasket.length == 0){
          return total;
        }else{
          for(var i=0, onCart = $sessionStorage.cartBasket.length; i < onCart; i++ ){
            total += ($sessionStorage.cartBasket[i].Price * $sessionStorage.cartBasket[i].Qty);
          }

          return total;
          
        }
      }
    }    
  })
  	</script>

</body>
	</html>