<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Responsive Shopping App">
    <meta name="author" content="Sumen Tse">
    <title>Shopping App</title>

    <!-- Bootstrap core CSS -->
    <link href="assets/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
	<style>
	body {
	  padding-top: 50px;
	}

  .activeState{
    text-decoration: underline;
    text-decoration-color: white;
  }

  .item-name{
    font-size: 1.3em;
  }

  .image-container{
    width: 90%;
  }


.icon-bar {
  -webkit-transition: all 0.2s;
          transition: all 0.2s;
}

  .top-bar {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transform-origin: 10% 20%;
        -ms-transform-origin: 10% 20%;
            transform-origin: 10% 20%;
  }

  .middle-bar {
    opacity: 0;
    filter: alpha(opacity=0);
  }

  .bottom-bar {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transform-origin: 10% 30%;
        -ms-transform-origin: 10% 30%;
            transform-origin: 10% 30%;
   
  }

  .collapsed .top-bar {
    -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
            transform: rotate(0deg);
   
  }

  .collapsed .middle-bar {
    opacity: 1;
    filter: alpha(opacity=100);
  }

  .collapsed .bottom-bar {
    -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
            transform: rotate(0deg);   
  }


	/*This was needed because the nav links will not appear when exceed 768px
	I think there's a better way to do this*/
	@media screen and (min-width: 768px) {
	    .collapse{
	        display: block !important;
	    }
	}
	</style>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body ng-app="shopApp" ng-controller="masterCtrl" ng-cloak>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" ng-class="getToggleClass()"  ng-click="toggleCollapse()">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar top-bar"></span>
            <span class="icon-bar middle-bar"></span>
            <span class="icon-bar bottom-bar"></span>
          </button>
        </div>
        <div id="navbar" class="nav-collapse navbar-responsive-collapse" collapse="isCollapsed">
          <ul class="nav navbar-nav">
            <li ng-class="getStateClass('Shop')" ng-click="selectCategory('Shop')"><a href="#Shop">Shop</a></li>
            <li ng-class="getStateClass('Cart')" ng-click="selectCategory('Cart')"><a href="#Cart">Cart</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">
    	<div ui-view></div>
  	</div>

    


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

   	<script src="lib/angular.min.js"></script>
   	<script src="services/angular-ui-router.min.js"></script>
   	<script src="services/ui-bootstrap-tpls-0.13.0.min.js"></script>
    <script src="services/ngStorage.min.js"></script>
    <script src="services/customService.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="assets/js/ie10-viewport-bug-workaround.js"></script>
    
  	<script>
angular.module("shopApp",["ui.bootstrap", "ui.router", "ngStorage", "customService"])
	.config(function($stateProvider, $urlRouterProvider){
		//this is setting up the configuration for the application upon launch

		//any unmatch url will go to the trends tab
		$urlRouterProvider.otherwise("/Shop");

		//routing the tabs to the correct view
		$stateProvider
			.state("Shop",{
				url:"/Shop",
				templateUrl:"views/shop.html",
				controller: function($scope, $state, Product, Cart){
          var chunkDataSize = 3; //will show rows by three
          $scope.chunkData = []

          //getting the products and checks the model if there are any updates
          Product.add().then(function(response){
            $scope.init();
            
          }, function(response){
            alert(response);
          })

          //setting up the grid row
          $scope.init = function(){
            $scope.chunkData = Product.getChunk(chunkDataSize);
          }

          $scope.showProduct = function(ID){

            $state.go("Product", {"ID":ID});
            
          }

          
        }
			})
      .state("Product",{
        url:"/Product/:ID",
        templateUrl:"views/product.html",
        controller: function($state, $stateParams, $scope, Product, Cart){
          
          var checkProduct = Product.search($stateParams.ID); //should be run once for optimizing
          $scope.itemQuantity = 1; //this is the default for item quantity 
          $scope.product = []

          //Checks if the product exist and if it doesn't go back to the Shop state otherwise show the product. I was thinking what if the product doesn't exist anymore
          if( angular.isUndefined( checkProduct ) ){
            
            $state.go("Shop");

          }else{
            
            $scope.product = checkProduct;
          
          }

          //adding the item into the cart but needs to check if it reach max
          $scope.addItem = function(){
           
            var maxItem = 99; //maximum item in the cart
            var onCartItem = Cart.searchItem( $stateParams.ID );
            
            //If item exceeds over 99 then it will not update the qty, but it will add accordingly
            if( onCartItem !== false ){
              if( ($scope.itemQuantity + onCartItem.Qty) <= maxItem ){
                
                Cart.add({"ID":$scope.product.ID, "Product_Name":$scope.product.Product_Name,"Price":$scope.product.Price, "Qty":$scope.itemQuantity});
              }else{
                Cart.update($scope.product.ID, maxItem);
              }

            }else{
                //if item does not exist in cartbasket  
                Cart.add({"ID":$scope.product.ID, "Product_Name":$scope.product.Product_Name,"Price":$scope.product.Price, "Qty":$scope.itemQuantity});   

            }


            $state.go("Shop"); //go back to Shop state after product is added
          }
        }
      })
			.state("Cart",{
				url:"/Cart",
				templateUrl:"views/cart.html",
				controller: function($scope, Cart){
    
          var filter_gratuity = null;

          $scope.products = Cart.get(); //get the items store in session storage
          //initial setup of cart summary
          $scope.tax = 0.08;
          $scope.subTotal = Cart.getSubTotal();
          $scope.subTotalTax = $scope.subTotal + ($scope.subTotal * $scope.tax);
          $scope.gratuity = "20.00";
          $scope.finalTotal = $scope.subTotalTax + $scope.gratuity;


          //checks if type is float with fixed decimal of two
          $scope.$watch("gratuity", function(newValue, oldValue){
            filter_gratuity = parseFloat(parseFloat(newValue).toFixed(2));
        
            if( !isNaN( filter_gratuity) ){
              $scope.finalTotal = $scope.subTotalTax + filter_gratuity;
            }else{
              $scope.finalTotal = $scope.subTotalTax + 0;
            }
            
          })

          //summarizing the cart basket
          $scope.summarizeCart = function(){

            $scope.subTotal = Cart.getSubTotal();
            $scope.subTotalTax = $scope.subTotal + ($scope.subTotal * $scope.tax);
            
            //fixes a bug where if user enter letters then delete item it will not update the final total
            //will fix on watcher to make it automatically replace letters to empty string
            if(isNaN(parseInt($scope.gratuity))){
              $scope.finalTotal = $scope.subTotalTax;
            } else{
              $scope.finalTotal = $scope.subTotalTax + parseInt($scope.gratuity);
            }
          }

          //removing an item off a cart
          $scope.removeItem = function(ID){
            Cart.remove(ID);
            $scope.summarizeCart();
          }

          //updating the quantity of items
          $scope.updateQty = function(qty){
            if(!angular.isUndefined(qty)){
                $scope.summarizeCart();
            }
          }
        }
			})

	})
	.controller("masterCtrl", function($scope, $state, $rootScope, $window){
		//this controller will control the state of the navigation when a user clicks on the links in the nav bar. I'm using scope inheritance
		var currentState = "";
    $scope.isCollapsed = true;

    

    //will highlight the tab
    $rootScope.$on("$stateChangeSuccess", function(event, toState, toParams, fromState, fromParams){
      currentState = toState.name;
    });

    //animating the toggleclass
    $scope.getToggleClass = function(){
      return $scope.isCollapsed ? "collapsed" : "";
    }


		//toggles the collapsing menu only on mobile
		$scope.toggleCollapse = function(){
			$scope.isCollapsed = !$scope.isCollapsed;
      
      console.log($scope.isCollapsed)
		}

    //user selection of category
    $scope.selectCategory = function(category){
      currentState = category;
      
      if($window.innerWidth <= 768){
        $scope.toggleCollapse();
      }
    }

    //find the active state
    $scope.getStateClass = function(current){
      return currentState == current ? "activeState" : "";
    }

    
  })
  .filter('range', function() {
    //this is use to do the item quantity based on what range you want to give it
    //will be use for ng-options
    return function(input, total) {
      total = parseInt(total);
      for (var i=1; i<total; i++)
        input.push({"value":i});
      return input;
    };
  })
  .directive('onlyDigits', function () {
    //a directive to show only digits
    return {
        restrict: 'A',
        require: 'ngModel',
        link: function (scope, element, attrs, ngModel) {
            if (!ngModel) return;
            ngModel.$parsers.unshift(function (inputValue) {
                var digits = inputValue.split('').filter(function (s) { return (!isNaN(s) && s != ' '); }).join('');
                
                //limits how many items should be brought
                if(digits > 99){
                  digits = 99;
                }
                else if(digits == 0){
                  digits = 1;
                }

                ngModel.$viewValue = digits;
                ngModel.$render();
                return digits;
            });
        }
    };
});


  	</script>

  </body>
</html>