<h1>Cart</h1>
<h4 ng-show="products.length == 0">No item in cart</h4>
<!-- Table showing the items in the cart basket -->
<table class="table" ng-show="products.length > 0">
	<thead>
	  <tr>
	  	<th class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></th>
	    <th class="col-xs-5 col-sm-5 col-md-5 col-lg-5">Item</th>
	    <th class="col-xs-2 col-sm-2 col-md-2 col-lg-2 text-center">Price</th>
	    <th class="col-xs-2 col-sm-2 col-md-2 col-lg-2 text-center">Quantity</th>
	    <th class="col-xs-2 col-sm-2 col-md-2 col-lg-2 text-center">Cost</th>
	  </tr>
	</thead>
	<tbody>
		<tr ng-repeat="product in products">
			<td class="text-center"><span class="glyphicon glyphicon-remove-sign" role="button" ng-click="removeItem(product.ID)"></span></td>
			<td>{{product.Product_Name}}</td>
			<td class="text-right">{{product.Price | currency}}</td>
			<td class="text-right"><input type="number" only-digits ng-model="product.Qty" ng-change="updateQty(product.Qty)" min="1" max="99"></td>
			<td class="text-right">{{product.Qty * product.Price | currency}}</td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td class="text-right"><strong>Subtotal:</strong></td>
			<td class="text-right">{{subTotal | currency}}</td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td class="text-right"><strong>Tax (8%):</strong></td>
			<td class="text-right">{{subTotalTax | currency}}</td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td class="text-right"><strong>Gratuity:</strong></td>
			<td class="text-right"><input class="form-control" type="text" ng-model="gratuity"></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td class="text-right"><strong>Total:</strong></td>
			<td class="text-right">{{finalTotal | currency}}</td>
		</tr>
	</tbody>
</table>